.sidebar-container{
    height: 90vh;
    width: 30.2%;
    border-left: 1px solid rgb(233, 213, 213);
    border-bottom: 1px solid rgb(233, 213, 213);
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-container .sidebar-header{
    height: 53px;
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 1%;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: 3%;
}

.sidebar-header .my-dp{
    width: 35px;
    border-radius: 50%;
    margin-left: 2.5%;
    position: relative;
}

.my-dp img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    image-rendering: crisp-edges;
    /* filter: brightness(1.45) contrast(1.15); */
}

#utilities{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 60px;
    margin-right: 4%;
}

#utilities img{
    height: 20px;
    cursor: pointer;
    image-rendering: pixelated;
}
#menu-wrapper{
    position: relative;
}

.dropdown > .dropdown-toggle > img{
    height: 20px !important;
    transform: rotate(90deg);
}

.dropdown-toggle::after{
    display: none !important;
}

.dropdown-menu{
    min-height: 100px;
}

.sidebar-container .search-conversations{
    height: 53px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
}

.search-conversations input[type='text'] {
    position: relative;
    height: 58%;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5%;
    padding-left: 11%;
}

.search-conversations img{
    height: 18px;
    position: absolute;
    left: 1%;
    image-rendering: pixelated;
}